<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382040252144-cvd0mbuass72c5dd9ni5c8bi8eglltnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382040252144-cvd0mbuass72c5dd9ni5c8bi8eglltnm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382040252144-egqqsoqhc6g8q48p4grcf4sahur3m4pg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTfhya1cdiHyvnDCEPHHXcxYuJtBjrYpM</string>
	<key>GCM_SENDER_ID</key>
	<string>382040252144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app2024-d8815</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app2024-d8815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382040252144:ios:064dd8b4a61c7aa1a7ac35</string>
</dict>
</plist>